<h1>Twój koszyk</h1>
<% if @cart.line_items.empty? %>
  <p>Twój koszyk jest pusty</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <th>Produkt</th>
      <th>Liczba sztuk</th>
      <th>Cena jednostkowa</th>
      <th>Cena całkowita</th>
      <th>Akcja</th>
    </thead>
    <tbody>
      <%  @cart.line_items.each do |item| %>
        <tr>
          <td><%= link_to item.unit_name, product_path(item.product) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency item.unit_price %></td>
          <td><%= number_to_currency item.full_price %></td>
          <td>
            <%= link_to remove_product_cart_path(product_id: item.product.id), method: :post do %>
              Usuń
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
   </table>

   <p>
     <% if current_user.address.nil? %>
       <%= link_to new_address_path, class: "btn btn-success btn-lg" do%>
         Dodaj adres wysyłki
         <span class="fa fa-step-forward"></span>
       <% end %>
     <% else %>

     <% end %>
   </p>
  <% end %>


