<%= render partial: 'shared/show_order_items' %>
      <div>
        <%= form_for [:admin, @order] do |f| %>
          <select name="state">
            <% OrderStateMachine.states_map.each do |state_name, human_name| %>
              <option value="<%= state_name %>" <% if !@order.can_transition_to?(state_name) && @order.current_state != state_name %> disabled="disabled" <% end %>>
              <%= human_name %></option>
            <% end %>
          </select>
        <%= f.submit "Zmień status" %>
        <% end %>
      </div>

