<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Produkt</th>
      <th>Liczba sztuk</th>
      <th>Cena jednostkowa</th>
      <th>Cena całkowita</th>
    </thead>
    <tbody>
      <%  @order.line_items.each do |item| %>
        <tr>
          <td><%= link_to item.unit_name, product_path(item.product) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency item.unit_price %></td>
          <td><%= number_to_currency item.full_price %></td>
        </tr>
      <% end %>
       <tr>
        <td><%= @order.shipping_type.name %></td>
        <td></td>
        <td><%= number_to_currency @order.shipping_type.cost %></td>
        <td></td>
      </tr>
    </tbody>
   </table>

<h3>Całkowity koszt zamówienia : <%= number_to_currency @order.full_cost %></h3>

   <p>Adres zamówienia</p>
  <p><%= full_name(@user.address) %></p>
  <p><%= @user.address.street %></p>
  <p><%= city_zipcode(@user.address)%></p>

    <%= link_to order_confirmation_summary_path, method: :post, class: "btn btn-success btn-lg" do%>
        Potwierdź zamówienie
        <span class="fa fa-step-forward"></span>
      <% end %>
  </div>


