    <h1>Produkty</h1>

    <%= link_to new_admin_product_path, class: "btn btn-success" do %>
        <span class="fa fa-plus"></span>Dodaj nowy Product
    <% end %>

    <table class="table table-striped">
        <thead>
            <tr>
                <th><%= sort_link(@search, :name, "Nazwa") %></th>
                <th><%= sort_link(@search, :price, "Cena") %></th>
                <th><%= sort_link(@search, :category_name, "Kategoria") %></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= number_to_currency product.price %></td>
                    <td><%= product.category.name %></td>
                    <td>
                        <%= link_to "Edycja", edit_admin_product_path(product), class: "btn btn-default btn-xs" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%=paginate @products %>


