
    <nav class="navbar navbar-inverse bg-primary">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">RoboShop</a>
        </div>
        <ul class="nav navbar-nav">
          <%= render 'navigation/main_buttons' %>
          <%= render 'navigation/admin_menu' %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
         <li>
          <%= render 'navigation/cart_summary' %>
         </li>
         <li>
          <%= render 'navigation/login_logout' %>
         </li>
        </ul>
      </div>
    </nav>